*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color:#f4f6f9;
    color:#230202;
    line-height:1.6;
}

header{
    background-color:#6f2506;
    color:white;
    text-align:center;
    padding:40px 20px;
}

header h1{
    margin-bottom:10px;
}

.card{
    background:white;
    width:80%;
    margin:20px auto;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.card h2{
    color:#2c3e50;
    margin-bottom:10px;
}

ul{
    padding-left:20px;
}

footer{
    text-align:center;
    padding:20px;
    background-color:#6f2506;
    color:white;
    margin-top:20px;
}